/* Sector: Main cart page classes: */
.cartPage {
  padding: 2rem 1rem;
  border-radius: 0.5rem;
}

.cartItemsCont {
  width: 100%;
  height: 100%;

  padding-top: 5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  place-items: center;
  gap: 2rem;

  position: relative;
}

.deleteAllCartItemsBtn {
  padding: 0.6rem 1.8rem;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);

  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  background-color: var(--color-scd);
  color: var(--color-wht);

  border: none;
  outline: none;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;

  transition: all 0.2s linear;
}

.deleteAllCartItemsBtn:hover {
  background-color: var(--color-scd-l-1);
}

.deleteAllCartItemsIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-scd-d-2);
}

/* No items in cart  */

.noCartItemsCont {
  width: 100%;
  /* height: 20rem; */

  padding: 4rem;
}

.noCartItemsCont p {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;

  text-align: center;

  color: var(--color-scd);
}

.noCartItemsCont p span {
  cursor: pointer;

  text-decoration: underline;
}

.noCartItemsCont p span:hover {
  cursor: pointer;
}

/* ******** */

.checkoutPriceContMain {
  width: 100%;

  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid var(--color-gry-d-1);
}

.checkoutPriceContSubMain {
  padding: 2rem 0;

  margin: 0 auto;
}

.checkoutPriceContSubMain div {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid var(--color-gry-d-1);
}

.checkoutPriceContSubMain div p {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-blk);
}

.checkoutPriceContSubMain div p span:first-child {
  margin-left: 6rem;

  font-size: 1.6rem;
  font-weight: 500;
}

.checkoutBtnCont {
  padding: 1rem 0;
}

.checkoutBtnCont button {
  width: 100%;

  text-transform: uppercase;
  letter-spacing: 0.5px;

  padding: 1rem;

  border: none;
  outline: none;

  background-color: var(--color-scd);
  color: var(--color-wht);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: all 0.1s linear;
}

.checkoutBtnCont button:hover {
  background-color: var(--color-scd-d-2);
}

.checkoutBtnIcon {
  color: var(--color-scd-d-3);
}

.checkoutPriceContSubMain div p span:last-child {
  font-size: 1.8rem;
  font-weight: 600;

  color: var(--color-scd);
}

/* Pages items common  animation */

.slideIn {
  opacity: 0;
  transform: translateY(-50px);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* *********************************************** */
/* Sector: CSS media quires for cart page */

/* 640/16 = 31.25 */
@media (max-width: 31em) {
  .noCartItemsCont p {
    font-size: 1rem;
  }
}

/* 500/16 = 40 */
@media (max-width: 40em) {
  .noCartItemsCont p {
    font-size: 1rem;
  }
}
