/* Sector: Main cart page classes: */

.cartPage {
  padding: 2rem 1rem;
  border-radius: 0.5rem;

  background-color: var(--color-gry-l-2);
}

.cartItemsCont {
  width: 100%;
  height: 100%;

  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  place-items: center;
  gap: 1rem; */

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* No items in cart  */

.noCartItemsCont {
  width: 100%;
  height: 50rem;

  padding: 4rem;
}

.noCartItemsCont p {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;

  text-align: center;

  color: var(--color-scd);
}
