 .blueBtn {
  background-color: var(--color-scd);
  color: var(--color-wht);

  border-radius: 0.5rem;
  border-style: none;
  outline: none;

  cursor: pointer;

  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: .7px;

  margin: 0;
  padding: 1rem 2rem;

  overflow: hidden;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

  transition: all 0.1s linear;
}

.blueBtn:hover {
  background-color: var(--color-scd-l-1);
}
 .blueBtn:focus {
  background-color: var(--color-scd);
}
