.blueBtn {
  background-color: var(--color-scd);
  color: var(--color-wht);

  border-radius: 0.5rem;
  border-style: none;
  outline: none;

  cursor: pointer;

  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.7px;

  margin: 0;
  padding: 1rem 2rem;

  overflow: hidden;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

  transition: all 0.1s linear;
}

.blueBtn:hover {
  background-color: var(--color-scd-l-1);
}
.blueBtn:focus {
  background-color: var(--color-scd);
}

/* Sector: Media queries */

/* 1050px / 16px = 65.625 */
/* This query matched with Welcome page */
@media (max-width: 65em) {
  .blueBtn {
    font-size: 1rem;
    font-weight: bold;
  }
}

/* 460px / 16px = 28.75 */
@media (max-width: 28em) {
  .blueBtn {
    font-size: 0.8rem;
  }
}


/* 312px / 16px = 19.5 */
@media (max-width: 19.5em) {
  .blueBtn {
    font-size: 0.8rem;

    padding: 1rem 1.5rem;
  }
}
