/* Sector: Main cart page classes: */

.cartItem {
  width: 25rem;
  padding: .5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  background-color: var(--color-wht);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-di-2);
}

.cartItemHeader {
  width: 100%;

  padding: 2rem;

  border-radius: inherit;

  position: relative;
}

.cartItemId {
  width: 3rem;
  height: 3rem;

  background-color: var(--color-gry-l-3);
  color: var(--color-scd);
  box-shadow: var(--shadow-di-1);

  border-radius: 0.5rem;

  font-size: 1.6rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -0.5rem;
  left: -1.5rem;
}

.cartItemNameIcon {
  width: 4rem;
  color: var(--color-scd);
}

.cartItemName {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.cartItemReact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
}

.cartItemReact span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartItemReact span .cartItemNameHeartIcon {
  display: inline-block;
  visibility: visible;

  transition: all 0.1s linear;
}

.cartItemReact span .cartItemNameFillHeartIcon {
  display: none;
  visibility: hidden;

  transition: all 0.1s linear;
}

.cartItemReact span:hover .cartItemNameHeartIcon {
  display: none;
  visibility: hidden;
}

.cartItemReact span:hover .cartItemNameFillHeartIcon {
  display: inline-block;
  visibility: visible;
}

.deleteCartItemIcon,
.cartItemNameFillHeartIcon,
.cartItemNameHeartIcon {
  cursor: pointer;

  color: var(--color-scd);
}

.deleteCartItemIcon:hover {
  color: var(--color-scd-d-2);
}

.cartItemImgCont {
  width: 100%;
  height: 15rem;

  padding: 0 1rem;

  border-radius: 0.5rem;
}

.cartItemImgCont img {
  width: 100%;
  height: 100%;

  border-radius: 0.5rem;
  border-radius: inherit;
}

.cartItemFooter {
  width: 100%;

  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  border-top: 1px solid var(--color-scd);
}

.cartItemPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

  color: var(--color-txt-l-1);
}

.cartItemPriceIcon,
.cartItemPrice span,
.cartItemRateIcon {
  width: 1.2rem;
  color: var(--color-scd);
}

.cartItemPrice {
  font-size: 1.2rem;
  font-weight: bold;
}

.cartItemRating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.cartItemRating span {
  font-size: 1.2rem;
  font-weight: 400;
}
.cartRatingStar {
  color: var(--color-txt-l-1);
}

.cartItemCount {
  width: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.cartItemCount span {
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.cartItemInc,
.cartItemDec {
  cursor: pointer;

  width: 1.5rem;
  height: 1.5rem;
}

.cartItemInc {
  color: var(--color-scd);
}

.cartItemCount input {
  width: 100%;
 
 

  text-align: center;
  color: var(--color-scd-d-1);
  font-size: 1.2rem;

  padding: 0.1rem;

  border: 1px solid var(--color-scd);
  border-radius: 0.9rem;
}

